@import '../../../styles/mixins.scss';

.wrapper {
  h6 {
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-align: center !important;
  }
  
  h1 {
    font-size: 3rem ;
    color: var(--main-color);
    text-align: center !important;
    margin-bottom: 50px;
  }
  .happyClients {
    padding: 100px 40px;
    background: var(--main-background-image);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  
    .slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: contain;
        margin-bottom: 30px;
        padding: 5px;
        border: 1px solid var(--secondary-color)
      }
      p {
        font-size: 1.2rem;
        text-align: center !important;
        max-width: 70%;
      }
      h5 {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px 40px;
        border-radius: 20px;
      }
    }
    @include sm {
      padding: 50px 10px;
    }
  }
}
