@import '../../../styles/mixins.scss';

.services {
  margin-top: 100px;

  h1 {
    font-size: 3rem;
    color: var(--main-color);
    max-width: 400px;
    @include xs {
      font-size: 2.5rem;
    }
  }

  .swiper {
    padding: 50px 10px 150px;
    .slide {
      background: linear-gradient(180deg, #F8F8F8 0%, rgb(205, 231, 247) 100%);
      padding: 30px;
      border-radius: 20px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      &:hover {
        background: var(--main-background-image);
        color: #fff;
        transform: translateY(-50px);
      }
    }
    &.swiper2 {
      margin-top: -130px;
    }
  }
}