@import '../../../styles/mixins.scss';

.projectsHeader {
  background: url('/imgs/about/page-header.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  color: #fff;
  &:after {
    content: '';
    position: absolute;
    bottom: -1%;
    left: 0;
    width: 100%;
    z-index: 999;
    background: url('/imgs/about/page-header-wave.png');
    height: 220px;
    background-position: center;
    background-size: cover;
  }
  
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    h1 {
      font-size: 3.5rem;
      @include xs {
        font-size: 2.5rem;
      }
    }
    p {
      font-size: 1.2rem;
    }
  }
}