@import "@/styles/mixins";
@import "@/styles/extends";

.contact_form {
  margin: 50px 0 0;
  padding: 100px;
  background-color: rgba(var(--main-color-rgb), 0.07);

  @include lg {
    padding: 70px;
  }

  @include md {
    padding: 50px;
  }

  @include sm {
    padding: 30px;
  }

  .meta {
    h2 {
      margin-bottom: 10px;
      text-transform: capitalize;
      text-align: center;
    }

    p {
      margin-bottom: 80px;
      text-align: center;
      color: var(--text-color);

      @include sm {
        margin-bottom: 50px;
      }
    }
  }

  .form {
    max-width: 65%;
    margin: auto;

    @include lg {
      max-width: 80%;
    }

    @include md {
      max-width: 90%;
    }

    @include sm {
      max-width: 100%;
    }

    .field {
      @extend %form_field;
      margin-bottom: 15px;

      &.half_width {
        width: calc(50% - 10px);

        @include lg {
          width: 100%;
        }

        &:nth-of-type(even) {
          margin-inline-end: 0;
        }
      }
    }

    button {
      @extend %mainBtn;
      margin-inline-start: auto;
      margin-top: 20px;
    }
  }
}
