:root {
  //==> Main Colors
  --main-color: #0771de;
  --main-color-rgb: 7, 113, 222;
  --main-color-dark: #0b5eb1;
  //==> Secondary Colors
  --secondary-color: #3ab4ff;
  --secondary-color-rgb: 58, 180, 255;
  --secondary-color-dark: #238fd2;
  //==> Text Colors
  --text-color: #383e50;
  --pale-text-color: #7a7a7a;
  //==> Border Colors
  --border-color: #eee;
  //==> Background Main Colors
  --background-main-color: #e7ecf4;
  --background-main-color-rgb: 232, 237, 245;
  //==> Background Alternative Colors
  --background-alt-color: #fcfcfc;
  --background-alt-color-rgb: 252, 252, 252;
  //==> Toasts Colors
  --danger-color: #ea5455;
  --danger-color-rgb: 234, 84, 85;
  --success-color: #45ca80;
  --success-color-rgb: 69, 202, 128;
  --alert-color: #f2b24e;
  --alert-color-rgb: 242, 178, 78;
  --info-color: #0dcaf0;
  --info-color-rgb: 13, 202, 240;
  //==> Font Family
  --font-sans: "Inter";
}
