@import "../mixins";

%formActions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    margin: 0 !important;
    @extend %panelFocusBtn;

    &:first-of-type {
      @extend %outlinedFocusBtn;
    }

    &:nth-of-type(n + 2) {
      margin-inline-start: auto;
    }
  }
}

%smallFormActions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    margin: 0 !important;
    padding: 5px 20px !important;
    &:first-of-type {
      @extend %outlinedFocusBtn;
    }

    &:last-of-type {
      @extend %panelFocusBtn;
    }
  }
}

%input {
  background-color: var(--main-background);
  color: var(--text-color);
  border-radius: 5px;
  padding: 7px 15px;
  border: 1px solid var(--border-color);
  outline: none;
  font-size: 0.9rem;
  resize: none;
}

%formBtn {
  border: none;
  background: var(--main-color);
  padding: 11px 35px;
  color: #fff;
  outline: none !important;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: center !important;

  &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(0.9);
  }

  @include xs {
    font-size: 14px;
  }
}

%form-element {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: transparent;
  border-radius: 5px;
  padding: 12px 15px;
  outline: none;
  font-size: 16px;
  resize: none;
  width: 100%;
  margin: auto;
  margin-top: 10px;

  &:hover {
    border-color: var(--main-color);
  }

  &::placeholder {
    color: var(--main-color);
  }

  &:focus {
    border: 1.5px double var(--main-color);
  }

  @include sm {
    padding: 12px 12px;
    font-size: 17px;
  }

  @include xs {
    padding: 9px 12px;
    font-size: 15px;
  }
}