.swal2-container {
  z-index: 2002 !important;
}

.swal2-popup {
  background-color: var(--secondary-background) !important;
  color: var(--text-color) !important;
  padding: 1.5rem 0 2.5rem !important;
  font-family: inherit;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.swal2-title {
  text-align: center !important;
  color: var(--text-color) !important;
  font-size: 25px;

  @include xs {
    font-size: 20px;
  }
}

.swal2-actions {
  * {
    transition: all 0.3s ease;
  }
}

.swal2-icon {
  border-width: 4px !important;
  border-style: solid !important;
  width: 80px !important;
  height: 80px !important;
  max-height: 80px;
  zoom: 1 !important;
  margin: 0 auto !important;
  padding: 8px 4px 0;
  animation: none !important;
}

.swal2-icon.swal2-question {
  color: var(--text-color-main) !important;
  border-color: var(--main-color) !important;
}

.swal2-icon.swal2-warning {
  border-color: var(--alert-color) !important;
  color: var(--alert-color) !important;
}

.swal2-confirm {
  background-color: var(--main-color) !important;
}