@import "@/styles/mixins";
@import "@/styles/extends";

.nav_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px !important;

  @include lg {
    position: fixed;
  }

  &.scrolled {
    position: fixed;
    z-index: 9999;

    background-color: rgba(#fff, 0.65);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  }

  &.inner_page {
    z-index: 100;

    .navigation_bar {
      .links {
        ul {
          li {
            a {
              color: #eee;

              &:hover,
              &.active {
                color: #fff;
                text-shadow: 0 0 1px #fff;
                text-stroke: 1px transparent;
                -webkit-text-stroke: 1px transparent;
              }
            }
          }
        }
      }
      .actions {
        .mobile_menu_toggler {
          @include lg {
            svg {
              color: #fff;

              &:hover {
                color: #000;
              }
            }
          }
        }

        .contact {
          button {
            a {
              color: #fff;
            }

            &:hover {
              background-color: rgba(#fff, 0.2);
              border-color: #fff;
            }
          }
        }
      }
    }
  }

  .navigation_bar {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        height: 54px;

        @include sm {
          height: 40px;
        }

        @include xs {
          height: 36px;
        }
      }
    }

    .links {
      @include lg {
        position: absolute;
        background-color: var(--background-alt-color);
        top: 0;
        left: -305px;
        height: 100vh;
        width: 300px;
        padding: 25px;
        border-right: 1px solid var(--border-color);
        z-index: 102;
        transition: all 0.2s ease-in-out;

        &.show {
          left: 0;
        }
      }

      @include xs {
        left: -255px;
        width: 250px;
      }

      .mobile_toggler {
        display: none;

        @include lg {
          display: block;
          margin-bottom: 20px;
          font-size: 20px;
          color: var(--text-color);
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: var(--main-color);
          }
        }
      }

      ul {
        display: flex;
        gap: 25px;

        @include lg {
          flex-direction: column;
        }

        li {
          a {
            color: var(--pale-text-color);
            font-weight: 400;
            transition: all 0.2s ease-in-out;

            @include lg {
              color: var(--text-color) !important;
            }

            &:hover,
            &.active {
              color: var(--text-color);
              text-shadow: 0 0 1px var(--text-color);
              text-stroke: 1px var(--text-color);
              -webkit-text-stroke: 1px var(--text-color);
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      gap: 15px;

      .mobile_menu_toggler {
        display: none;

        @include lg {
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: var(--main-color);
            }
          }
        }
      }

      .contact {
        @include lg {
          display: none;
        }

        button {
          background-color: transparent;
          border-color: #9d9d9d;
          border-radius: 25px;
          font-size: 15px;
          padding: 0;
          transition: all 0.2s ease-in-out;

          a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 25px;
          }

          &:hover {
            background-color: var(--border-color);
          }
        }
      }
    }
  }
}
