@import "@/styles/mixins";
@import "@/styles/extends";

.activities {
  padding: 100px 0;

  @include xs {
    padding: 70px 0;
  }

  .wrapper {
    .meta {
      h2 {
        margin-bottom: 15px;
        text-transform: capitalize;
        text-align: center;
      }

      p {
        margin-bottom: 25px;
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .activities_wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;

      @include xxl {
        gap: 30px;
      }

      .activity {
        width: calc(25% - 50px);
        box-shadow: 0 0 15px rgba(var(--main-color-rgb), 0.1);
        background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(var(--main-color-rgb), 0.1));
        padding: 40px 25px;
        border-radius: 15px;

        @include xxl {
          width: calc(25% - 22.5px);
        }

        @include xl {
          padding: 35px 20px;
        }

        @include lg {
          width: calc(33.33% - 50px);
        }

        @include md {
          width: calc(50% - 25px);
        }

        @include sm {
          width: 100%;
        }

        .image {
          img {
            height: 100px;
            object-fit: contain;
            display: block;
            margin: 0 auto 30px;
          }
        }

        .content {
          h4 {
            font-size: 24px;
            font-weight: bold;
            color: var(--text-color);
            text-align: center;
            margin-bottom: 10px;

            @include xxl {
              font-size: 16px;
            }

            @include md {
              font-size: 18px;
            }

            @include xs {
              font-size: 16px;
            }
          }

          p {
            color: var(--text-color);
            max-width: 85%;
            text-align: center;
            margin: auto;
            font-size: 14px;

            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;

            * {
              text-align: center;
            }

            @include lg {
              max-width: 100%;
            }

            @include xs {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}