@import '../../../styles/mixins.scss';

.keepInTouch {
  margin-top: 100px;
  .head {
    margin-bottom: 100px;
    h1 {
      color: var(--main-color);
      font-size: 3rem;
      text-align: center !important;
      @include xs {
        font-size: 2.5rem;
      }
    }
  }
  .way {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
    i {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: var(--main-background-image);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 3rem;
      display: grid;
      place-items: center;
      position: absolute;
      top: -50px;
      left: 40%;
      transition: all 0.5s ease-in-out;
      @include xs {
        left: 35%;
      }
    }
    h2 {
      margin-top: 35px;
      text-align: center !important;
    }
    p {
      text-align: center !important;
    }
    &:hover {
      box-shadow: 0px 10px 15px 0px rgb(18 83 252 / 30%);
      i {
        animation: show 2s linear infinite;
      }
    }
    @keyframes show {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(30deg);
      }
      75% {
        transform: rotate(-30deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}